.image-container {
    width: 50%;
    max-width: 50%; /* 원하는 최대 너비 설정 */
    margin: 0 12%; /* 가운데 정렬을 위해 필요한 스타일 */
  }
  
.responsive-image {
    width: 100%;
    height: auto;
    pointer-events: none;
}

p.text{
  color: #A5A5A5;
}
  