.sub-title {
    margin-left: 13%;
    font-weight: bold;
  }
  
  .Explanation {
    margin-top: 0.6%;
    color: #a5a5a5;
    font-weight: 100;
  }
  
  .clubIcon {
    margin-left: 13%;
  }
  
  .ProjectIcon {
    margin-left: 6%;
  }

  .PracIcon {
    margin-left: 6%;
  }
  
  .clubIcon,
  .ProjectIcon,
  .PracIcon {
    width: 8%;
    margin-top: 5%;
    border: 2px solid #e1c7f5;
    box-shadow: 2px 2px 8px #e1c7f5;
    border-radius: 20px;
    padding: 8%;
    padding-top: 9%;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .clubIcon.hovered,
  .ProjectIcon.hovered,
  .PracIcon.hovered {
    border-color: #b250fe;
    box-shadow: 2px 2px 8px #b250fe;
  }
  .Explanation {
    margin-top: 0.6%;
    font-weight: 100;
  }
  
  .Club {
    margin-left: 12%;
  }
  
  .Project {
    margin-left: 1%;
  }

  .Prac {
    margin-left: 8%;
  }
  
  .Club.hovered .PlaceKind,
  .Project.hovered .PlaceKind,
  .Prac.hovered .PlaceKind,
  .Club.hovered .PlaceKindExp,
  .Project.hovered .PlaceKind,
  .Prac.hovered .PlaceKindExp
   {
    color: #4f008d;
  }
  
  .SelectPlaceAll {
    width: 80%;
    margin-left: 3%;
  }
  
  .PlaceKind {
    font-weight: 1000;
    color: #a5a5a5;
    font-size: 140%;
  }
  
  .PlaceKindExp {
    color: #a5a5a5;
    display: flex;
    margin-top: 5%;
  }
  
  .SelectPlace {
    margin-left: 1.5%;
    margin-top: 2%;
    display: flex;
    text-align: center;
  }
  