.ReservPAll {
    display: flex;
    justify-content: space-between;
  }
  
  .MainTopWrapper {
    position: sticky;
    top: 0;
    bottom: 3.6%;
  }
  
  .MainTopStyle {
    background-color: white;
    height: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    top: 0;
    position: sticky; /* 상단에 고정되도록 설정 */
    z-index: 100;
  }
  
  .selectMenu {
    font-size: 15px;
    margin-right: 5%;
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  
  .title {
    margin-left: 13%;
    margin-right: 32.5%;
    width: 68px;
    height: 21px;
    left: 250px;
    top: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: black;
    text-decoration: none;
  }
  
  .Name {
    text-decoration-line: none;
    padding: 8px;
    padding-left: 1.7%;
    padding-right: 1.7%;
    background-color: #7c00de;
    border-radius: 20px;
    color: white;
    margin-right: 1%;
    margin-left: 3.5%;
  }
  
  .profile {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    vertical-align: middle;
    margin-bottom: 0.5%;
  }
  